*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.main{
    margin-top:50px;
    width:100%;
    font-family: 'Open Sans', sans-serif;
}
.main__top{
    max-width: 960px;
    width:100%;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px 50px;
    
}
.main__top > p:first-child{
    font-size: 47px;
    font-weight: 700;
    color:#005f6e;
    position:relative;
    width: 50px;

}
.main__top > p:first-child::before{
    content:"";
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:3px;
    background-color: #dcac3e;
}
.main__top > p:first-child > span{
    font-size: 30px;
    font-weight: 700;
    color:#005f6e;
    margin-left:5px;
}
.main__top > p:last-child{
    color:#005f6e;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin-left:20px;
    padding-top:45px;
}
.main__top > p:last-child > span:last-child{
    font-size: 23px;
}
/*  */
.main__content{
    max-width:1058px;
    margin:auto;
    margin-top:20px;
}
.sv_80{
    width:100%;
    background:#107d91;
    border-radius:6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    margin-bottom:30px;
    padding: 70px;
    padding-bottom: 0px;
    padding-bottom:30px;
}
.sv_80 > h3{
    position: absolute;
    top:20px;
    color:white;
    font-size: 25px;
    font-weight: 700;
    

}
.number{
    flex-wrap: wrap;
}
.number > span{
    padding:8px 40px;
    color:white;
    letter-spacing: 2px;
    font-size: 19px;
    background-color: #e6b441;
    margin:0px 1px;
    font-weight: 650;
    position:relative;
    cursor: pointer;
}
.number > span > b{
    color:#ff1001;
}
.sv_50 > .number, .sv_10 > .number{

    grid-gap:6px;

}
.sv_50 > .number > span{
    width: 100%;
    margin:0px;
}

.sv_10 > .number, .sv_50 > .number{
    width:100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sv_50 > .number{
    justify-content: flex-start;
}
.sv_10 > .number > span, .sv_50 > .number > span{
    width: 24.5%;
    margin:0px;
}

button{
    width: 24.5%;
    margin:0px;
    height:42px;
    border:2px solid #ce970b;
    background-color: white;
    outline:none;
    color: #ce970b;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.number > span > img{
    position: absolute;
    top:0px;
    left:0px;
    width:40px;
    height: 40px;
    animation: show 1.5s linear infinite 0.5s alternate;
    transition: 1s linear;
}
@keyframes show {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* show */
.show{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100vh;
    background:rgba(0,0,0,0.6);
    z-index: 999;
    display: none;
}
.viewer{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height:80%;
    background:white;
    overflow-y: scroll;
    padding:20px;
}
.viewer > i {
    position: absolute;
    top:10px;
    right:10px;
    color:black;
    font-size: 20px;
    cursor: pointer;
}
.viewer > h3{
    font-size: 26px;
    color:rgb(8, 134, 170);
    font-weight: 700;
    line-height: 1.2;
    text-align:center;
}
.viewer > h3 > a{
    padding:0px 10px;
    display:inline-block;
    color:rgb(8, 134, 170);
    animation: viewer 0.3s linear infinite alternate;
}
@keyframes viewer {
    from{
        transform: translateX(-10px);
    }
    to{
        transform: translateX(10px);
    }
    
}
.member_tab{
    width:100%;
    display:flex;
    justify-content: center;
}
.member_tab > h4{
    width:256px;
    height:46px;
    background:white;
    border:2px solid #18606e;
    color:#18606e;
    text-align:center;
    font-size: 14px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:15px;
    cursor: pointer;
}
.member_tab > .active{
    background:#e6b441;
    color:white;
}
.form1{
    width:80%;
    margin:auto;
    display:flex;
    flex-direction:column;
}
.form2{
    width:80%;
    margin:auto;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form2 > input:nth-child(1){
    width:100%;
}
.form2 > input:nth-child(2){
    width:64%;
}
.form2 > input:nth-child(3){
    width:35%;
}
.form2 > input:nth-child(6){
    width:100%;
}
.form2 > input:nth-child(7), .form2 > input:nth-child(8), .form2 > input:nth-child(9), .select_f2{
    width:49.5%;
}
.phone, .email{
    width:49.5%;
}
.address{
    height:35px;
    font-size: 15px;
    width:100%;
}
.select_f2{
    height:35px;
    margin:2.5px 0px;
    outline: none;
    font-size: 15px;
    border:1px solid #ddd;
    color:rgba(0,0,0,0.7);
}
.national{
    height:35px;
    margin:2.5px 0px;
    width:100%;
    display:flex;
    justify-content: space-between;
    border:1px solid #ddd;
}
.national > select{
    width:32%;
    border:none;
    color:rgba(0,0,0,0.7);
    font-size: 15px;
    outline:none;
}
.form2 > p{
    color:#277884;
    font-size: 16px;
}
.form1 > input, .form2 > input{
    height:40px;
    outline:none;
    margin:2.5px 0px;
    border:1px solid #ddd;
    padding:0px 10px;
}
.form2 > input{
    height:35px;
    font-size: 15px;
}
.form1 > input::placeholder, .form2 > input::placeholder{
    color:rgba(0,0,0,0.7);
    font-size: 17px;
    font-weight: 300;
}
.select, .check{
    width:100%;
    height:40px;
    border:1px solid #ddd;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding:0px 10px;
    margin:2.5px 0px;
}
.select > span, .check > span{
    margin:0px 5px;
    margin-right:15px;
    font-size: 15px;                          
}
.form2{
    display:none;
}
.btn_view{
    width:365px;
    height:50px;
    font-size: 14px;
    display: block;
    margin:auto;
    margin-top:30px;
    color:white;
    background:rgb(7, 112, 141);
    border:none;
}



@media screen and (max-width:1049px) {
    .sv_50 > .number > span, .sv_10 > .number > span {
        width: 32.5%;
        text-align: center;
        margin: 0px;
    }
    button{
        width: 32.5%;
    }
    .main__content{
        padding:0px 20px;
    }
    
}
@media screen and (max-width:899px) {
    .sv_80{
        padding-left:50px;
        padding-right:50px;
    }
    .viewer > h3{
        font-size: 20px;
    }
    .member_tab > h4{
        width:200px;
        font-size: 12px;
    }
    .form1 > input::placeholder, .form2 > input::placeholder{
        color:rgba(0,0,0,0.7);
        font-size: 15px;
        font-weight: 300;
    }
    .select > span, .check > span{
        font-size: 13px;
    }
    .btn_view{
        width:300px;
        height:40px;
        font-size: 13px;
    }
}
@media screen and (max-width:767px) {
    .sv_80 > .number > span,.sv_50 > .number > span, .sv_10 > .number > span {
        width: 32.5%;
        text-align: center;
        margin: 0px;
    }
    .sv_80 > .number > span{
        font-size: 16px;
    }
    button{
        width: 32.5%;
    }
    .main__top > p:first-child {
        font-size: 40px;
    }
    .main__top > p:last-child{
        font-size: 25px;
    }
    .sv_80 > h3{
        font-size: 22px;
    }
    .number > span{
        padding:8px 0px;
    }
    .sv > .number{
        width:100%;
        display:flex;
        justify-content: space-between;
    }
    .sv > .number > span{
        width: 49%;
        margin-bottom:5px;
    }
    .member_tab > h4{
        width:150px;
    }
    .btn_view {
        width:250px;
    }
}
@media screen and (max-width:639px) {
    .sv_80 > .number > span,.sv_50 > .number > span, .sv_10 > .number > span {
        width: 49%;
        text-align: center;
        margin: 0px;
    }
    button{
        width: 49%;
    }
    .main__top{
        flex-direction: column;
        padding:0px 20px;
    }
    .main__top > p:last-child {
        font-size: 17px;
        text-align: center;
    }
    .main__top > p:last-child{
        margin-left:0px;
    }
    .main__top > p:last-child > span:last-child{
        font-size: 16px;
    }
    .main__top > p:last-child{
        padding-top:20px;
    }
    .sv_80 > h3 {
        font-size: 20px;
    }
    .sv > .number{
        width:100%;
        display:flex;
        justify-content: space-between;
    }
    .sv > .number > span{
        width: 49%;
        margin-bottom:5px;
    }
    .viewer{
        width:90%;
    }
    .form1, .form2{
        width:95%;
    }
    .form2 > input:nth-child(2), .form2 > input:nth-child(3){
        width:100%;
    }
    .form1 > input::placeholder, .form2 > input::placeholder{
        color:rgba(0,0,0,0.7);
        font-size: 14px;
        font-weight: 300;
    }
}
@media screen and (max-width:499px) {
    .sv_80{
        padding:40px;
        padding-top:70px;
    }
    .sv_80 > .number > span{
        font-size: 14px;
    }
    .sv_80{
        padding:20px;
        padding-top:70px;
    }
    .main__top{
        flex-direction: column;
        padding:0px 20px;
    }
    .main__top > p:last-child {
        font-size: 16px;
        text-align: center;
    }
    .main__top > p:last-child{
        margin-left:0px;
    }
    .main__top > p:last-child > span:last-child{
        font-size: 15px;
    }
    .main__top > p:last-child{
        padding-top:20px;
    }
    .sv_80 > h3 {
        font-size: 20px;
    }
    .sv > .number{
        width:100%;
        display:flex;
        justify-content: space-between;
    }
    .sv > .number > span{
        width: 49%;
        margin-bottom:5px;
    }
    .form1, .form2{
        width:98%;
    }
    .form2 > input:nth-child(7), .form2 > input:nth-child(8), .form2 > input:nth-child(9), .select_f2{
        width:100%;
    }
    .national > select{
        font-size: 13px;
    }
}
@media screen and (max-width:399px) {
    .sv_80 > .number > span,.sv_50 > .number > span, .sv_10 > .number > span {
        width: 48%;
        text-align: center;
        margin: 0px;
    }
    button{
        width: 48%;
    }
    .main__top{
        flex-direction: column;
        padding:0px 20px;
    }
    .main__top > p:last-child {
        font-size: 14px;
        text-align: center;
    }
    .main__top > p:last-child{
        margin-left:0px;
    }
    .main__top > p:last-child > span:last-child{
        font-size: 13px;
    }
    .main__top > p:last-child{
        padding-top:20px;
    }
    .sv_80 > h3 {
        font-size: 20px;
    }
    .sv > .number{
        width:100%;
        display:flex;
        justify-content: space-between;
    }
    .sv > .number > span{
        width: 49%;
        margin-bottom:5px;
    }
    .member_tab > h4{
        font-size: 11px;
    }
    .national > select{
        font-size: 10px;
    }
}
@media screen and (max-width:374px) {
    .sv_80 > .number > span,.sv_50 > .number > span, .sv_10 > .number > span {
        width: 100%;
        text-align: center;
        margin: 0px;
    }
    button{
        width: 100%;
    }
    .main__top{
        flex-direction: column;
        padding:0px 20px;
    }
    .main__top > p:last-child {
        font-size: 14px;
        text-align: center;
    }
    .main__top > p:last-child{
        margin-left:0px;
    }
    .main__top > p:last-child > span:last-child{
        font-size: 13px;
    }
    .main__top > p:last-child{
        padding-top:20px;
    }
    .sv_80 > h3 {
        font-size: 20px;
    }
    .sv > .number{
        display:flex;
    }
    .sv > .number > span{
        margin-bottom:5px;
    }
    .member_tab > h4{
        font-size: 11px;
    }
}
